#map {
        width: 80%;
        height: 80%;
        background-color: grey;
		margin: 0 auto 0 auto;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;

	  }
body {
	background-color:#0FC374;
	color:white;
  font-size: 13px;
	/*font-family: 'Press Start 2P',Helvetica, Arial;*/
  font-family: 'Press Start 2P', Helvetica, Arial;
  background: url(http://1.bp.blogspot.com/-9IyUo4PfZbc/U2lgMlsBY6I/AAAAAAAAQJo/Upyo1mGPMdk/s1600/laskyline-3-X3.jpg),url(http://www.housesellerla.com/agent_files/_downtown_LA.jpg) black;
}
h3 {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
  font-family:'Press Start 2P',Helvetica, Arial;
}

#dest-text{
  font-size: 15px;
  font-family: 'Press Start 2P',Helvetica, Arial;
}
#input {
	text-align: center;
	padding: 30px;
}
#infop {
	padding: 30 px;
	color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
  text-align: justify;
}
.logo-img{
  margin: 10px;
  width:30px;
	height:30px;
}

#navbar{
  text-align: justify;
  font-size:10px;
  color: blue;
}
#copy-right{
  text-align: right;
  margin: 10px;
}

.search-button{
  background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 10px 30px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
}

.text-box {
    width: 300px;
    height: 30px
}
